body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #ffeaf4;
  text-align: c;
  color: #ffffff;
}

header {
  background: #ffb6d9;
  padding: 20px;
  font-size: 24px;
  font-weight: bold;
  box-shadow: 0 2px 6px rgba(0,0,0,.1);
}

.container {
  max-width: 900px;
  margin: 40px auto;
  padding: 20px;
  background: white;
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0,0,0,.1);
}

h2 {
  margin-top: 0;
}

.gifs img {
  width: 150px;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  transition: transform 0.3s;
}

.gifs img:hover {
  transform: scale(1.1);
}

.recipes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 30px;
  text-align: left;
}

.recipe-card {
  background: #fff0f7;
  padding: 15px;
  border-radius: 16px;
  box-shadow: 0 2px 6px rgba(0,0,0,.1);
}

.recipe-card h3 {
  margin-top: 0;
  font-size: 18px;
  color: #c2185b;
}

.recipe-card ul {
  padding-left: 20px;
} 


footer {
  margin-top: 40px;
  padding: 10px;
  background: #ffb6d9;
  font-size: 14px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 900px;
  margin: 0 auto;
}

.logo {
  font-weight: bold;
  font-size: 20px;
}

nav {
  display: flex;
  gap: 10px;
}

.botao {
  background-color: #fff0f7;
  color: #c2185b;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 8px;
  font-weight: bold;
  transition: background 0.3s;
}

.botao:hover {
  background-color: #ffcce2;
}

.sobre {
  background: #fff5fa;
  padding: 40px 20px;
  text-align: center;
  color: #a31555;
}

.sobre h2 {
  margin-top: 0;
  font-size: 28px;
}